.plan-container {
    margin-top: -4rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: relative;

}

.plans {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

}

.plan {
    display: flex;
    flex-direction: column;
    background-color: var(--caloryCard);
    justify-content: center;
    gap: 2rem;
    color: white;
    padding: 1.5rem;
    width: 15rem;

}

.plan:nth-child(2) {
    background: var(--planCard);
    transform: scale(1.1);

}