.Footer-container {
    position: relative;
}

.Footer-container>hr {
    border: 1px solid var(--lightgray);
}

.footer {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    height: 20rem;
}

.footer-blur-1 {
    width: 26rem;
    height: 12rem;
    bottom: 0;
    right: 15%;
    filter: blur(250px);
    background: red;

}

.footer-blur-2 {
    width: 26rem;
    height: 12rem;
    bottom: 0;
    left: 15%;
    filter: blur(250px);
    background: orangered;
}

.social-links {
    display: flex;
    gap: 4rem;
}

.social-links>img {
    width: 4rem;
    height: 4rem;
    cursor: pointer;
}

.social-links>img:hover {
    background: rgb(247, 177, 55);

}

.logo-f>img {
    width: 20rem;
}